.cta{
    display: flex;
    background: var(--gradient-bar);
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
    margin: 4rem;
  border-radius: 1rem;

}
.cta-content h3{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    line-height: 45px;

    color: #000000;
}
.cta-content p{
font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 30px;
}
.cta-btn {
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    background: #000000;
    border-radius: 40px;
}
.cta-btn button {
    background: #000000;
    border-radius: 40px;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    padding: 0.5rem 1rem;
    outline: none;
    cursor: pointer;
    min-width: 150px;
    border: none;
}

@media screen and (max-width:650px) {
    .cta{
        flex-direction: column;
    }
    .cta-btn{
        margin: 2rem 0;
    }
}
@media screen and (max-width:650px) {
    .cta{
        margin: 4rem 2rem;
    }
    .cta-content h3{
        font-size: 18px;
        line-height: 32px;
    }
    .cta-btn button{
        font-size: 14px;
        line-height:28px;
    }
}